RFC Compliant

Does the library comply with https://datatracker.ietf.org/doc/html/rfc7519?

I don't recall exactly if the pre-release version of `keyfunc` the JWK Set code was copied from what 100% RFC compliant. But I do know it failed to implement [RFC 8725 Section 3.1](https://www.rfc-editor.org/rfc/rfc8725#section-3.1).

There have been multiple bug fixes and RFC compliance changes to `keyfunc` since that pre-release version was copied. I think it is important to update this project in a similar way.

Please see this issue for further reading:
https://github.com/gofiber/jwt/issues/73#issuecomment-1329292789